{% extends 'resume/resume_base.html' %}

{% block section1 %}
    {% if form %}
        <div id="contact-form-container" class="container m-2 p-2 d-flex flex-column align-items-center">
            <form action="#" method="POST" class="form" id="contact-me-form">
                {% csrf_token %}
                <table>
                    <tr>
                        {{ form.as_table }}
                    </tr>
                </table>
                <button id="contact-me-form-submit-button" type="submit">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock %}