{% extends 'fs2020/fs2020_base.html' %}

{% block section1 %}

{% load static %}
<!-- <img src="{% static 'img/approach.jpg' %}"> -->
<style>
    body {
      background-image: url('{% static "img/clouds.jpg" %}');
    }
</style>

    <h1>Welcome to my FS2020 Home!</h1>
    <div class="d-flex p-3 m-3 gap-4">
        {% for plane in aircraft %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ plane.n_num }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ plane.icao_location }} - {{ plane.make }} {{ plane.model }}</h6>
                <p class="card-text">{{plane.notes}}</p>
                <div class="d-flex flex-column gap-2 border">
                    <a href="http://www.skyvector.com/airport/{{plane.icao_location}}" class="btn btn-primary">Chart</a>
                    <a href="http://airnav.com/airport/{{plane.icao_location}}" class=" btn btn-primary">Chart Supplement</a>
                    <a href="{% url 'fs2020:flights' n_number=plane.id %}" class="btn btn-primary">Flight History</a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    <a href="https://www.flightsimulator.com/">Flight Simulator Product Page</a>
{% endblock %}


<a href="http://www.skyvector.com/airport/{{plane.icao_location}}" class="card-link btn btn-primary">Chart</a>
<a href="http://airnav.com/airport/{{plane.icao_location}}" class="card-link btn btn-primary">Chart Supplement</a>
<a href="#" class="btn btn-primary card-link">Flight History</a>