venv
/venv
__pycache__/
*.pyc
*.pyo


# Credential Files
credentials/faa.py
credentials/twilio.py
twilio.py
env.py
.env

#
sms_logfile.txt
# Ignore server-only local overrides
main_app/local_settings.py