{% extends 'media/media_base.html' %}

{% load crispy_forms_tags %}

{% block section1 %}

<h1>Welcome to the Add Movies Page!</h1>

{% load crispy_forms_tags %}

<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">Add Media</h5>
        <h6 class="card-subtitle mb-2 text-muted">Add a movie to the database.</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <form action="#" class="form media-form" method="POST">
            {% csrf_token %}
            {{ add_media_form.as_p }}
        </form>
        <a href="#" class="card-link">Card link</a>
    </div>
</div>

{% endblock %}