{% extends 'media/media_base.html' %}

{% block section1%}
    <h1>Amazon</h1>
    {% for video in videos %}
        <div class="card" style="width: 16.5rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1523474253046-8cd2748b5fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{ video.title }}</h3>
              {% if video.subtitle %}
                <h5 class="card-title">{{ video.subtitle }}</h5>
              {% endif %}
            <p class="card-text">{{ video.description }}</p>
          </div>
          <ul class="list-group list-group-flush">
              {% for genre in video.genre.all %}
                <li class="list-group-item">{{ genre }}</li>
              {% endfor %}
          </ul>
          <div class="card-body">
<!--            <a href="#" class="card-link">Card link</a>-->
<!--            <a href="#" class="card-link">Another link</a>-->
          </div>
        </div>
    {% endfor %}
{% endblock %}

<!--
img for amazon
https://images.unsplash.com/photo-1523474253046-8cd2748b5fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80
-->