{% extends 'media/media_base.html' %}

{% block section1 %}
<div class="container">
    <h1 class="">Explore</h1>
    <div class="row col-sm">

        <div class="card m-2 text-white bg-dark shadow" style="width: 16.5rem;">
          <img class="card-img-top"
               src="https://images.unsplash.com/photo-1502078534399-8190479363f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80s" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">See Media listed by title. You know what you want, you just have to find it!</p>
            <a href="{% url 'media:sorted_by' %}" class="btn btn-light disabled">Sorted</a>
          </div>
        </div>


        <div class="card m-2 text-white bg-dark shadow" style="width: 16.5rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1622867247887-bb8603f030f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Format</h3>
            <p class="card-text">See Media listed by format. Have a DVD-only player? Looking for some great CDs to
                listen to? Want a paperback that can ride in a backpack?</p>
            <a href="#" class="btn btn-light disabled">Go somewhere</a>
          </div>
        </div>

        <div class="card m-2 text-white bg-dark shadow" style="width: 16.5rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1528928441742-b4ccac1bb04c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Type</h3>
            <p class="card-text">See media listed by type. Looking for a new TV series? Movie more up your alley?
                Looking to unwind with a good book?</p>
            <a href="#" class="btn btn-light disabled">Go somewhere</a>
          </div>
        </div>

        <div class="card m-2 text-white bg-dark shadow" style="width: 16.5rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1623018035231-ebe361a64c76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Genre</h3>
            <p class="card-text">See media listed by genre. You've got a pretty good idea what you're in the mood
                for, but what exactly?</p>
            <a href="#" class="btn btn-light disabled">Go somewhere</a>
          </div>
        </div>

    </div>
</div>

<a href={% url "media:add_media" %}><button type="button" class="btn btn-dark m-2">Add Media</button></a>

{% endblock %}

<!--
img for movies
https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=859&q=80
-->

<!--
img for books
https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80
-->

<!--
img for cds
https://images.unsplash.com/photo-1573054324954-8350cfc9cf90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80
-->

<!--
img for downloaded content
https://images.unsplash.com/photo-1627569015058-3f298889045f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80
-->

<!--
img for youtube
https://images.unsplash.com/photo-1567606404839-dea8cec4d278?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80
-->

<!--
img for amazon
https://images.unsplash.com/photo-1523474253046-8cd2748b5fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80
-->