<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:index' %}">Media</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:movies' %}">Movies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:books' %}">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:cds' %}">CDs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:dvds' %}">DVDs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:amazon' %}">Amazon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:youtube' %}">YouTube</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:digital_dl' %}">Digital Download</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'media:vhs' %}">VHS</a>
    </li>
</ul>