<nav class="d-flex flex-wrap align-items-center gap-2">
  <a class="btn btn-outline-light" href="{% url 'core_app:index' %}">Home</a>
  <a class="btn btn-light text-dark" href="{% url 'media:index' %}">Media</a>

  <div class="btn-group">
    <a class="btn btn-outline-light" href="{% url 'media:movies' %}">Movies</a>
    <a class="btn btn-outline-light" href="{% url 'media:books' %}">Books</a>
    <a class="btn btn-outline-light" href="{% url 'media:cds' %}">CDs</a>
    <a class="btn btn-outline-light" href="{% url 'media:dvds' %}">DVDs</a>
  </div>

  <div class="btn-group">
    <a class="btn btn-outline-light" href="{% url 'media:formats' %}">Formats</a>
    <a class="btn btn-outline-light" href="{% url 'media:types' %}">Types</a>
    <a class="btn btn-outline-light" href="{% url 'media:genres' %}">Genres</a>
  </div>

  <div class="ms-auto d-flex gap-2">
    <a class="btn btn-outline-light open-in-modal" data-title="Add by Barcode" href="{% url 'media:add_by_barcode' %}">Add by Barcode</a>
    <a class="btn btn-dark" href="{% url 'media:add_media' %}">Add Media</a>
  </div>
</nav>