img {
    width: 100%;
    height: auto;
}

.bg-img {
    /*filter: blur(8px);*/
    background-size: cover;

}

.card {
    display: flex
    /*flex: 1 1 18rem;*/
    /*max-width: 18rem;*/
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.card-link {
    width: 100%;
    color: lightgrey;
}

.home-card {
    background-color: lightgrey;
}

.resume-carousel-img {
    max-width: auto;
    max-height: 40rem;
}

#index-page-card-container {
    /*background-color: pink;*/
    display: flex;
}

#index-header {
    color: lightgrey;
}

#fs2020-index-header {
    color: lightgrey;
}

#flights-page-header {
    color: lightgrey;
}

#contact-me-carousel-header {
    color: black;
}

#contact-me-carousel-text {
    color: black;
}

#contact-me-form-submit-button {
    border-radius: 10px;
    border-color: 5px purple;
}

#contact-me-form-submit-button:hover {
    background-color: grey;
}

#contact-form-container {
    background-color: lightgrey;
    border-radius: 20px;
}
