{% extends "douglas/douglas_base.html" %}

{% block section1 %}
    <div class="container">
        <h1>Welcome to Douglas' Corner!</h1>
    </div>

    <table class="table-striped">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Track</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Laps</th>
            <th scope="col">Day Race?</th>
            <th scope="col">Raining?</th>
        </tr>
        {% for race in races %}
        <tr>
            <td>{{ race.name }}</td>
            <td>{{ race.track }}</td>
            <td>{{ race.datetime }}</td>
            <td>{{ race.laps }}</td>
            <td>{{ race.day_race }}</td>
            <td>{{ race.raining }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}