{% extends 'douglas/douglas_base.html' %}

{% block section1 %}
    <div>
        <h3>Welcome to the leagues home page!</h3>
        <ul>
            {% for league in leagues %}
                <li>{{ league.name }}</li>
            {% endfor %}
        </ul>

        <h3>NIS Drivers</h3>
            <ul>
                {% for driver in nis_drivers %}
                    <li>{{ driver }}</li>
                {% endfor %}
            </ul>

        <h3>Ashoc Drivers</h3>
        <ul>
            {% for driver in ashoc_drivers %}
                <li>{{ driver }}</li>
            {% endfor %}
        </ul>

        {% if is_staff %}
            <hr>
            <h3>Hello, {{ user.username }}.</h3>
        {% endif %}
    </div>
{% endblock %}