{% extends 'prayer/prayer_base.html' %}

{% load crispy_forms_tags %}

{% block section1 %}
    <h1>Join Our Prayer Chain</h1>

    <div class="form-messages">{% include 'messages.html' %}</div>

    <p>Sign up to receive prayer requests and be part of our prayer community.</p>

    <h3>Sign Up</h3>
    <form action="#" method="POST">
        {% csrf_token %}
        {{ new_person_form | crispy }}
        <input type="Submit" value="Sign Up" class="btn btn-primary">
    </form>
{% endblock %}

{% block section2 %}
{% endblock %}