{% extends "finance/finance_base.html" %}

{% block section1 %}
    <h1>Monthly Transactions</h1>



        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Notes</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.notes }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}