{% extends "finance/finance_base.html" %}

{% block section1 %}
    <h1>Monthly Transactions</h1>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary">January</button>
    <button type="button" class="btn btn-primary">February</button>
    <button type="button" class="btn btn-primary">March</button>
    <button type="button" class="btn btn-primary">April</button>
    <button type="button" class="btn btn-primary">May</button>
    <button type="button" class="btn btn-primary">June</button>
    <button type="button" class="btn btn-primary">July</button>
    <button type="button" class="btn btn-primary">August</button>
    <button type="button" class="btn btn-primary">September</button>
    <button type="button" class="btn btn-primary">October</button>
    <button type="button" class="btn btn-primary">November</button>
    <button type="button" class="btn btn-primary">Dececmber</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      {{ year }}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">2022</a></li>
        <li><a class="dropdown-item" href="#">2021</a></li>
        <li><a class="dropdown-item" href="#">2020</a></li>
        <li><a class="dropdown-item" href="#">2019</a></li>
        <li><a class="dropdown-item" href="#">2018</a></li>
        <li><a class="dropdown-item" href="#">2017</a></li>
        <li><a class="dropdown-item" href="#">2016</a></li>
    </ul>
  </div>
</div>

        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Notes</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.notes }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}