{% extends 'core_app/core_base.html' %}

{% block section1 %}

<div id="bg-img" class="bg-img" style="background-image: url(https://images.unsplash.com/photo-1551633166-23c7aed83e48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);"></div>

    <h1 id="index-header">Welcome to Jacob-McGowin.us!</h1>
    <div class="container-fluid" id="index-page-card-container">
        <div class="row">
            <div class="card home-card col-lg m-2 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">FS2020</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tools and Tracking</h6>
                    <p class="card-text">Aircraft listing and location as well as flight history.</p>
                    <a href="{% url 'fs2020:index' %}" class="card-link btn btn-primary">FS2020 Page</a>
                </div>
            </div>

            <div class="card home-card col-lg m-2 shadow-sm">
                <div class="card-body">
                  <h5 class="card-title">From the Blog</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Aviation, software, and life in between</h6>
                  <p class="card-text">Welcome! I write about the things I fly, build, and learn along the way. Subscribe to get new posts delivered straight to your inbox.</p>
                  <div style="min-height: 58px;max-width: 440px;margin: 0 auto;width: 100%"><script src="https://cdn.jsdelivr.net/ghost/signup-form@~0.3/umd/signup-form.min.js" data-button-color="#FF1A75" data-button-text-color="#FFFFFF" data-site="https://blog.jacob-mcgowin.us/" data-locale="en" async></script></div>
                </div>
            </div>

                        {% comment %}
                        <div class="card home-card col-lg m-2 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">NAPA Indycar Series</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Forza Motorsports 7</h6>
                                    <p class="card-text">Welcome to the home of the NAPA Indycar Series racing league!</p>
                                    <a href="{% url 'racing:index' %}" class="card-link btn btn-primary">NAPA Indycar Home</a>
                                </div>
                        </div>
                        {% endcomment %}

        </div>
    </div>
{% endblock %}
